@import '/src/Components/Utilities/Utilities';


.home {
    width: 100%;
    min-height: 100vh;
    background-color: $bleached-cedar;
    // position: fixed;

    .home-container {
        width: 100%;
        max-width: 700px;
        min-height: inherit;
        margin: auto;
        display: flex;
        flex-direction: column;

        .header {
            width: 100%;
            height: 100px;
            color: $white-lilac;
            margin: 40px 0 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .invoice {
                border: 1px solid white;

                p {
                    margin-top: -10px;
                }
            }

            .status {
                display: flex;
                // border: 1px solid white;

                
                .filter-status {
                    border: 1px solid white;
                    margin-right: 30px;
                    display: flex;
                    align-items: center;
                    font-weight: 700;
                    cursor: pointer;
                    position: relative;

                    span {
                        margin-right: 10px;
                    }

                    .select-status {
                        position: absolute;
                        width: 200px;
                        height: 160px;
                        top: 50px;
                        left: -50px;
                        background-color: $ebony-clay;
                        border-radius: 10px;
                        z-index: 9;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        animation: animateSelectStatus .3s linear;
                        // display: none;
                        
                        @keyframes animateSelectStatus{
                            0%{
                                transform: translateY(20px);
                            }
                            100%{
                                transform: translateY(0px);
                            }
                        }


                        form {
                            width: 80%;
                            height: 80%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;

                            div {
                                // border: 1px solid red;
                            }


                            input[type="checkbox"] {
                                width: 20px;
                                height: 20px;
                                margin-right: 10px;
                            }

                            label {
                                font-size: 1.1em;
                                font-weight: normal;
                                display: flex;
                                align-items: center;
                            }

                        }

                    }

                }

                .add-invoice-btn {
                    display: flex;
                    align-items: center;
                    background-color: $medium-slate-blue;
                    padding: 8px 12px;
                    border-radius: 30px;
                    cursor: pointer;

                    .arrow-plus-wrapper {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 7px;
                        border-radius: 50%;
                        background-color: $white-lilac;
                        margin-right: 10px;
                    }

                    span {
                        font-weight: bold;
                    }

                }
            }


        }

        .invoices-wrapper {
            min-height: 600px;
            width: 100%;


            .zero-invoices-section {
                width: 100%;
                min-height: inherit;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;


                .text-content {
                    color: $white-lilac;
                    text-align: center;
                    max-width: 40%;
                }
            }

            .user-invoices {
                width: 100%;
                min-height: inherit;

                a {
                    text-decoration: none;
                }

                .invoice-box {
                    width: 100%;
                    height: 90px;
                    border-radius: 7px;
                    background-color: $ebony-clay;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 15px;
                    cursor: pointer;

                    .details1 {
                        width: 55%;
                        display: flex;
                        align-items: center;
                        height: inherit;
                        justify-content: space-around;
                        color: $white-lilac;

                        .invoice-receipt-no {

                            p{
                                font-weight: bold;
                            }
                            span {
                                color: $regent-grey;
                            }
                        }
                    }
                    
                    .details2 {
                        width: 35%;
                        display: flex;;
                        align-items: center;
                        height: inherit;
                        justify-content: space-around;
                        color: $white-lilac;


                        .invoice-price {
                            font-size: 1.3em;
                            font-weight: bold;
                        }

                        .invoice-status {

                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 7px;
                            z-index: 1;
                            height: 40px;
                            width: 100px;

                            .dot {
                                width: 10px;
                                height: 10px;
                                color: #33D69F;
                                border-radius: 50%;
                                margin-right: 10px;
                            }
                            
                            p {
                                font-weight: bold;
                                z-index: 4;
                            }

                        }

                        .paid {
                            background-color: #33d6a019;

                            .dot {
                                background-color: #33D69F;
                            }

                            p {
                                color: #33D69F;
                            }

                        }

                        .pending {
                            background-color: #ff910024;

                            .dot {
                                background-color: #FF8F00;
                            }

                            p {
                                color: #FF8F00;
                            }
                        }

                        .draft {
                            background-color: #dfe3fa1f;

                            .dot {
                                background-color: #DFE3FA;
                            }

                            p {
                                color: #DFE3FA;
                            }
                        }

                    }

                }

                .invoice-box:hover {
                    border: 1px solid $medium-slate-blue;
                }

            }


        }

    }

}
